body{
  background-color: rgb(91,124,153);
  
}
h1{
  font-size: 38px;
}

input[type=text] {
  width: 20%;
  padding: 16px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=password] {
  width: 20%;
  padding: 16px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
  background-color: rgb(12, 12, 12);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  /* cursor: pointer; */
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}

button {
  background-color: rgb(12, 12, 12);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  /* cursor: pointer; */
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}

select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}


.container{
  background-color: rgb(173, 166, 166);
  border-style: hidden;
  border-radius: 15px;
  padding:18px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
  
 
  
}

.container2{
  background-color: rgb(65, 130, 190);
  border-style: bold;
  border: 12px solid black; 
  border-radius: 15px;
  padding:10px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
  color:rgb(255, 255, 255);
  
 
  
}
@media screen and (max-width:1200px){

    .main-contianer{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly; 
      text-align: center;
      
    }
  
  }
